.plus-button {
  z-index: 1000;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  background-color: var(--section-Highlighted-Color);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  margin: 3px;
  box-shadow: 0 0 2px grey;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

.plus-button:hover {
  background-color: var(--secondary-Background-Color);
}

.uploader {
  height: 60px;
  overflow: hidden;
}

.tag {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: var(--section-Highlighted-Color);
  color: var(--primary-Text-Color);
}

.tag-container::-webkit-scrollbar {
  display: none;
}

.tag-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: scroll;
  display: flex;
  padding: 10px 0;
  gap: 10px;
}

.tag-container span:first-of-type {
  margin-left: 10px;
}

.tag-container span:last-of-type {
  margin-right: 10px;
}

.playlist-container {
  display: flex;
}

.action {
  display: none;
}

.selected-Item.selection-area-container-item:hover,
.selected-Item {
  opacity: 1;
  transform: scale(1.1);
}

.selection-area-container-item {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  max-width: 35dvw;
  margin: 10px;
  background-color: var(--secondary-Background-Color);
  display: grid;
  transition: all 0.2s;
}

.selection-area-container-item:hover {
  transform: scale(1.05);
}

.selection-area-container-item-selectable {
  grid-row: 1;
  grid-column: 1;
}

.selection-area-container-item:nth-last-child(1),
.selection-area-container-item:nth-last-child(2),
.selection-area-container-item:nth-last-child(3),
.selection-area-container-item:nth-last-child(4),
.selection-area-container-item:nth-last-child(5),
.selection-area-container-item:nth-last-child(6),
.selection-area-container-item:nth-last-child(7),
.selection-area-container-item:nth-last-child(8) {
  flex-grow: 0;
}

.image {
  height: fit-content;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  grid-row: 1;
  grid-column: 1;
}

.unloaded-Image {
  min-width: 400px;
}

.on-hover-container {
  display: grid;
  grid-row: 1;
  grid-column: 1;
}

@media screen and (max-width: 500px) {
  .action {
    display: inherit;
  }

  .selection-area-container-item {
    max-width: 45dvw;
  }
}

.message-Container {
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.message-Box {
  font-weight: 500;
  background-color: var(--secondary-Row-Color);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  border: var(--secondary-Background-Color) solid 2px;
}

.small__font {
  font-size: 9px;
  margin: 2px 15px 2px 0;
}

.e-listview:not(.e-list-template) .e-list-item {
  height: unset;
}

.header-Container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  z-index: 1001;
}

.header-Container-Logo {
  margin: auto;
}

.search-detail-container {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .header-Container {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
  }

  .search-detail-container {
    width: 95dvw;
  }

  .header-Container-Logo {
    display: none;
  }

  .content-viewer {
    max-width: calc(100dvw - 50px);
    max-height: 350px;
    margin: auto;
    height: 158px;
  }
}
